<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="FCTB" version="2.16.24" targetFramework="net481" />
  <package id="GMap.NET.Core" version="2.1.7" targetFramework="net481" />
  <package id="GMap.NET.Windows" version="2.1.7" targetFramework="net481" />
  <package id="GMap.NET.WinForms" version="2.1.7" targetFramework="net481" />
  <package id="GMap.NET.WinPresentation" version="2.1.7" targetFramework="net481" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net481" />
  <package id="Microsoft.Data.Sqlite.Core" version="10.0.1" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="SQLitePCLRaw.core" version="3.0.2" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="2.0.2" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="2.0.2" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="10.0.1" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Net.Http.Json" version="10.0.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.1" targetFramework="net481" />
  <package id="System.Text.Json" version="10.0.1" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
</packages>